.d-block{
    height: 600px;
}
/* .text-overlay {
    position: absolute;
    top: 600px;
    left: 500px;
    transform: translate(-50%, -50%);
    color: rgb(48, 10, 10); /* Text color */
    /* text-align:left;
  } */ 